<a href="https://colab.research.google.com/github/joseazev/Python-Pandas_tratamento_Analise_de_dados/blob/main/Alura_trabalahndo_com_Series_e_Dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [7]:
data = [1,2,3,4,5]
data

[1, 2, 3, 4, 5]

In [8]:
s = pd.Series(data)
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [9]:
index = ['Linha ' + str(i) for i in range(5)]
index

['Linha 0', 'Linha 1', 'Linha 2', 'Linha 3', 'Linha 4']

In [10]:
s = pd.Series(data = data, index = index)
s

Linha 0    1
Linha 1    2
Linha 2    3
Linha 3    4
Linha 4    5
dtype: int64

In [13]:
data = {'Linha '+str(i) : i+1 for i in range(5)}

In [15]:
pd.Series(data)

Linha 0    1
Linha 1    2
Linha 2    3
Linha 3    4
Linha 4    5
dtype: int64

In [18]:
s1 = s + 2
s1

Linha 0    3
Linha 1    4
Linha 2    5
Linha 3    6
Linha 4    7
dtype: int64

In [19]:
s2 = s1 + s
s2

Linha 0     4
Linha 1     6
Linha 2     8
Linha 3    10
Linha 4    12
dtype: int64

# Dataframes

In [20]:
data = [[1,2,3],
        [4,5,6],
        [7,8,9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [21]:
pd.DataFrame(data)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [23]:
index = ['Linha '+ str(i) for i in range(3)]
index

['Linha 0', 'Linha 1', 'Linha 2']

In [24]:
colunms = ['Coluna '+ str(i) for i in range(3)]
colunms

['Coluna 0', 'Coluna 1', 'Coluna 2']

In [27]:
df = pd.DataFrame(data = data, index= index, columns=colunms)
df

         Coluna 0  Coluna 1  Coluna 2
Linha 0         1         2         3
Linha 1         4         5         6
Linha 2         7         8         9

In [29]:
df1 = pd.DataFrame(data = data, index= index, columns=colunms)
df2 = pd.DataFrame(data = data, index= index, columns=colunms)
df3 = pd.DataFrame(data = data, index= index, columns=colunms)

In [30]:
df1[df1 > 0] = 'A'
df1

        Coluna 0 Coluna 1 Coluna 2
Linha 0        A        A        A
Linha 1        A        A        A
Linha 2        A        A        A

In [31]:
df2[df2 > 0] = 'B'
df2

        Coluna 0 Coluna 1 Coluna 2
Linha 0        B        B        B
Linha 1        B        B        B
Linha 2        B        B        B

In [32]:
df3[df3 > 0] = 'C'
df3

        Coluna 0 Coluna 1 Coluna 2
Linha 0        C        C        C
Linha 1        C        C        C
Linha 2        C        C        C

In [33]:
df4 = pd.concat([df1,df2,df3])
df4

        Coluna 0 Coluna 1 Coluna 2
Linha 0        A        A        A
Linha 1        A        A        A
Linha 2        A        A        A
Linha 0        B        B        B
Linha 1        B        B        B
Linha 2        B        B        B
Linha 0        C        C        C
Linha 1        C        C        C
Linha 2        C        C        C

In [34]:
df4 = pd.concat([df1,df2,df3],axis=1)
df4

,Coluna 0,Coluna 1,Coluna 2,Coluna 0,Coluna 1,Coluna 2,Coluna 0,Coluna 1,Coluna 2
Linha 0,A,A,A,B,B,B,C,C,C
Linha 1,A,A,A,B,B,B,C,C,C
Linha 2,A,A,A,B,B,B,C,C,C