<a href="https://colab.research.google.com/github/joseazev/Python-Pandas_tratamento_Analise_de_dados/blob/main/Alura_Python_Pandas_Tratamento_e_analise(parte_2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Relatório de Análise II**

## **Tipo de Imóveis**

### *Importando Biblioteca*

In [8]:
import pandas as pd

### *Importando base de dados*

In [4]:
!wget https://raw.githubusercontent.com/joseazev/Python-Pandas_tratamento_Analise_de_dados/main/aluguel.csv

--2022-05-11 00:23:30--  https://raw.githubusercontent.com/joseazev/Python-Pandas_tratamento_Analise_de_dados/main/aluguel.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1376355 (1.3M) [text/plain]
Saving to: ‘aluguel.csv’

aluguel.csv         100%[===================>]   1.31M  --.-KB/s    in 0.06s

2022-05-11 00:23:30 (20.5 MB/s) - ‘aluguel.csv’ saved [1376355/1376355]

### recuperando base de dados

In [16]:
dados = pd.read_csv('aluguel.csv', sep=";")
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
1,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
2,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
3,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,21.43,Apartamento
4,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,16.67,Apartamento
...,...,...,...,...,...,...,...,...,...,...,...
19826,Quitinete,Glória,1,0,0,10,400.0,107.0,10.0,40.00,Apartamento
19827,Quitinete,Flamengo,1,0,0,23,900.0,605.0,0.0,39.13,Apartamento
19828,Quitinete,Centro,1,0,0,24,1100.0,323.0,0.0,45.83,Apartamento
19829,Quitinete,Copacabana,1,0,0,22,1500.0,286.0,200.0,68.18,Apartamento
19830,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0,29.63,Apartamento

#### Apresentando o tipo de apartamento

In [24]:
tipos_de_imoveis = dados['Tipo']
tipos_de_imoveis.drop_duplicates(inplace=True)

In [25]:
tipos_de_imoveis

0               Apartamento
16923                  Casa
17821    Casa de Condomínio
18785          Casa de Vila
19018             Quitinete
Name: Tipo, dtype: object

>  Organizando a visualização

In [36]:
tipos_de_imoveis = pd.DataFrame(tipos_de_imoveis)
tipos_de_imoveis.index = range(len(tipos_de_imoveis))
tipos_de_imoveis.index.name = 'Id'
tipos_de_imoveis.columns = ['Tipo_de_Imoveis']

In [37]:
tipos_de_imoveis

       Tipo_de_Imoveis
Id
0          Apartamento
1                 Casa
2   Casa de Condomínio
3         Casa de Vila
4            Quitinete